doctype html
html
  head
    style.
      body {
        font-family: monospace;
      }

      table th, table td {
        text-align: left;
        padding: 2px;
      }

      th.frame,
      td.frame {
        //- width: 1em;
        text-align: center;
      }

      td.frame div {
        display: none;
      }

      td.frame:hover div {
        display: block;
      }

      tr {
        border-bottom: 1px solid #ccc;
      }

      .QUIC_SESSION_STREAM_FRAME_SENT {
        background-color: cadetblue;
      }

      .QUIC_SESSION_STREAM_FRAME_RECEIVED {
        background-color: aqua;
      }

      .QUIC_HTTP_STREAM_SEND_REQUEST_HEADERS {
        background-color: gold;
      }

      .QUIC_SESSION_RST_STREAM_FRAME_SENT {
        background-color: rebeccapurple;
        color: white;
      }

      .QUIC_SESSION_PACKET_SENT {
        background-color: red;
      }

      .QUIC_SESSION_UNAUTHENTICATED_PACKET_HEADER_RECEIVED {
        background-color: cornflowerblue;
      }

      .QUIC_SESSION_ACK_FRAME_RECEIVED {
        background-color: seagreen;
      }

      .QUIC_SESSION_ACK_FRAME_SENT {
        background-color: darkgray;
        color: white;
      }
      
  body
    table
      tbody
      each m, hdr in markers
        tr
          th(class=hdr)= m
          td= hdr

    h3 NOTE: The first column of the array represents both streams and packets. ACKs represent the largest observed packet number. 

    table
      thead
        tr
          th Stream ID/ Packet Number
          th Path
          - var n = 0
          while n < data.entries
            th.frame= data.interval * n++
      tbody
        each stream, streamId in data.streams
          tr
            td= streamId
            td= stream.path
            each events, time in stream.events
              td.frame
                each evt in events
                  span(class=evt.e)= markers[evt.e] || markers.OTHER   

    